// Steam Deck configuration
// Makes primary use out of L5 and L4 grip buttons, labeled "Windows Key"
// and "Shift Key" in Steam controller settings respectively.
// If either of these buttons happen to be busted (modding the
// Steam Deck ain't pretty) one of their keys can be mapped to left
// stick click which is unbound by default.

output "eDP-1" {
  transform "270"
  scale 1.75
}

input {
  mod-key "Super"
  focus-follows-mouse max-scroll-amount="25%"

  mouse {
    middle-emulation // L2 + R2 does middle click
  }
}

binds {
  // L5 + dpad/lstick
  Mod+Left  { focus-column-left; }
  Mod+Down  { focus-window-down; }
  Mod+Up    { focus-window-up; }
  Mod+Right { focus-column-right; }

  // L5 + L4 + dpad/lstick
  Mod+Shift+Left  { move-column-left; }
  Mod+Shift+Down  { move-window-down; }
  Mod+Shift+Up    { move-window-up; }
  Mod+Shift+Right { move-column-right; }

  // L5 + L1
  Super+Control_L { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
  // L5 + L4 + L1
  Super+Shift+Control_L { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; }
  // L5 + R1
  Super+Alt_L { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "systemMonitor" "toggle"; }
  // L5 + L4 + R1
  Super+Shift+Alt_L { show-hotkey-overlay; }
  // L5 + Select
  Super+Tab { close-window; }
  // L5 + L4 + Select
  Super+Shift+Tab { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }

  // L5 + A
  Mod+Return { spawn "xdg-terminal-exec"; }
  // L5 + B/Start
  Mod+Escape { toggle-overview; }
  // L5 + Y
  Mod+Space { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "settings" "toggle"; }

  XF86AudioRaiseVolume { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "increase"; }
  XF86AudioLowerVolume { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "decrease"; }
  XF86AudioMute { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
  XF86MonBrightnessUp { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "increase"; }
  XF86MonBrightnessDown { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "decrease"; }
}

// Noctalia Shell-specific settings

window-rule {
  geometry-corner-radius 20
  clip-to-geometry true
}

debug {
  honor-xdg-activation-with-invalid-serial
}

spawn-at-startup "qs" "-c" "noctalia-shell"

// User configuration

include optional=true "~/.config/niri/config.kdl"
